project:
  type: website
  output-dir: docs
  resouces:
    - sta199-f22-2-syllabus.pdf

website:
  page-navigation: true
  title: "STA 199"
  description: "Homepage for STA 199 - Introduction to Data Science at Duke University, Fall 2022, Section 2."
  site-url: "https://sta199-f22-2.github.io/"

  repo-url: https://github.com/sta199-f22-2/sta199-f22-2.github.io/
  repo-actions: [edit, issue]

  opengraph: true

  page-footer:
    right: "This page is built with ❤️ and [Quarto](https://quarto.org/)."
    left: "&copy; Copyright 2022, Elijah Meyer"
    background: "#1F7349" # Pantone Amazon - Fall 2022

  sidebar:
    background: "#1F7349" # Pantone Amazon - Fall 2022
    logo: "images/logo.png"
    pinned: true
    align: center
    tools:
      - icon: github
        href: https://github.com/sta199-f22-2/sta199-f22-2.github.io
        text: "GitHub organization"
      - icon: code-square
        href: https://cmgr.oit.duke.edu/containers
        text: "RStudio Containers"
      - icon: person-fill
        text: "Sakai"
        menu:
          - text: Gradescope
            url: https://sakai.duke.edu/portal/site/ee49d7b2-019a-4aa6-9a8d-1b62e842b4ec/page/d5c088c6-0694-4f85-b56e-9f5baf4521dd?sakai.state.reset=true
          - text: Gradebook
            url: https://sakai.duke.edu/portal/site/ee49d7b2-019a-4aa6-9a8d-1b62e842b4ec/tool/dce8b247-7bb6-4816-8a67-5401413ff6b6/

    style: docked
    search: true
    collapse-level: 1
    contents:
      - section: "Course information"
        contents:
          - href: course-overview.qmd
            text: Overview
          - href: course-syllabus.qmd
            text: Syllabus
          - href: course-support.qmd
            text: Support
          - href: course-team.qmd
            text: Teaching team
          - href: index.qmd
            text: Schedule
          - href: course-links.qmd
            text: Useful links
          - href: course-faq.qmd
            text: FAQ
      - section: "Computing"
        contents:
          - href: computing-access.qmd
            text: Access
          - href: computing-troubleshooting.qmd
            text: Troubleshooting
      - section: "Project"
        contents:
          - href: project-description.qmd
            text: Description
          - href: project-tips-resources.qmd
            text: Tips + resources

format:
  html:
    theme:
      light: [cosmo, style/sta199.scss]
      dark: [cosmo, style/sta199.scss, style/dark.scss]
    linkcolor: "#1F7349" # Pantone Amazon - Fall 2022
    toc: true
    code-copy: true
    code-overflow: wrap
    code-link: true
    mainfont: "Atkinson Hyperlegible"

execute:
  freeze: auto

editor: visual
